html,
body {
  height: 100%;
}

svg {
    display: block;
    margin: 0 auto;
}

.buttons {
    width: 460px;
    margin: 0 auto;
}

.text {
    width: 95%;
    margin: 0 auto;
}

.hanging-indent {
    padding-left: 22px ;
    text-indent: -22px ;
}

.content {
    width: 85%;
    margin: 0 auto;
    background-color: white;
}

body {background-color: lightgray;}
